<div fxFlex fxLayout="column" fxLayoutGap="0px" class="route-content">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxLayout="column">
      <div>
        <h4>Informações Gerais</h4>
      </div>
      <div style="margin-bottom:20px">
        <alert></alert>
      </div>
      <div class="absolute-center" *ngIf="dataLoading">
        <mat-spinner [diameter]="80"></mat-spinner>
      </div>
      <div *ngIf="!dataLoading">
        <div>
          <form [formGroup]="form" (ngSubmit)="update()">
            <div class="vertical-form-field">
              <div class="label">Nome Completo</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
                  <input formControlName="nome"   matInput placeholder="Enter first name" maxlength="50">
                  <mat-error *ngIf="form.controls['nome'].invalid">O nome é importante !</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Email</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
                  <input formControlName="email" matInput placeholder="Email é importante" maxlength="50">
                  <mat-error *ngIf="form.controls['email'].invalid">Email é importante</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Telefone</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:50%">
                  <input formControlName="telefone" matInput placeholder="Preencha o telefone" maxlength="20">
                  <mat-error *ngIf="form.controls['telefone'].invalid">Telefone é importante</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="vertical-form-field">
              <div class="label">Endereço Completo</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:50%">
                  <input formControlName="cep" matInput placeholder="preencha o cep"  (blur)="getEndereco(form.controls['cep'].value)" maxlength="100">
                  <mat-error *ngIf="form.controls['cep'].invalid">Endereço é importante</mat-error>
                </mat-form-field>
              </div>
            </div>
             <div class="vertical-form-field">
              <div class="label">Endereço Completo</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:50%">
                  <input formControlName="endereco" matInput disabled>
                  <mat-error *ngIf="form.controls['endereco'].invalid">Endereço é importante</mat-error>
                </mat-form-field>
              </div>
            </div>
<!--
            <div class="vertical-form-field">
              <div class="label">City</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
                  <input formControlName="city" matInput placeholder="Enter city" maxlength="50">
                  <mat-error *ngIf="form.controls['city'].invalid">Please enter a valid city</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">State</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field">
                  <mat-select formControlName="state" placeholder="Select a state">
                    <mat-option *ngFor="let state of states" [value]="state.twoLetterCode">
                      {{state.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls['state'].invalid">Please select a state</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Zip</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
                  <input formControlName="zip" matInput placeholder="Enter zip code" maxlength="12">
                  <mat-error *ngIf="form.controls['zip'].invalid">Please enter a valid zip code</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Country</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field">
                  <mat-select formControlName="country" placeholder="Select a country">
                    <mat-option *ngFor="let country of countries" [value]="country.twoLetterCode">
                      {{country.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls['country'].invalid">Please select a country</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Email</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:40%">
                  <input formControlName="email" matInput placeholder="Enter email address" maxlength="50">
                  <mat-error *ngIf="form.controls['email'].invalid">Please enter a valid email address</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Phone</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:40%">
                  <input formControlName="phoneNumber" matInput placeholder="Enter phone number" maxlength="20">
                  <mat-error *ngIf="form.controls['phoneNumber'].invalid">Please enter a valid phone number</mat-error>
                </mat-form-field>
              </div>
            </div>-->
            <div style="margin-top:10px; margin-bottom:10px">
              <button type="submit" *ngIf="!formSubmitted" [disabled]="!form.valid" mat-raised-button color="primary">Save Info</button>
              <mat-spinner *ngIf="formSubmitted" [diameter]="50"></mat-spinner>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
